@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Archivo);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Barlow);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Caveat);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Exo+2);
@import url(https://fonts.googleapis.com/css?family=Figtree);
@import url(https://fonts.googleapis.com/css?family=Genos);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Instrument+Serif);
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Kalam);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lemon);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Lilita+One);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Outfit);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Rajdhani);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Salsa);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Tektur);
@import url('vue-accessible-color-picker/styles');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --colour-accent-primary: #6C3BF6;
    --colour-accent-primary-alt: #6D28D9;
    --colour-accent-secondary: #FEF4E6;
    --colour-title: #000000;
    --colour-subtitle: #1F2937;
    --colour-text: #475569;
    --colour-background: #FFFFFF;
    --colour-background-blur: rgba(255, 255, 255, 0.75);
    --colour-background-outline: #E8E3F5;
    --colour-background-alt: #C1BBD2;
    --colour-disabled: #BABAC2;
    --colour-gradient-start: #E9D5FF;
    --colour-gradient-middle: #FFE4E6;
    --colour-gradient-end: #FFEDD5;
    --input-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.gradient-bg {
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    --tw-gradient-from: var(--colour-gradient-start) var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--colour-gradient-middle) var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: var(--colour-gradient-end) var(--tw-gradient-to-position);
}

.wb-logo {
    flex: none;
    text-align: center;
    color: var(--colour-accent-primary);
    font-size: 24px;
    font-weight: 600;
}

.wb-title {
    display: block;
    text-align: center;
    color: var(--colour-title);
    font-size: 28px;
    font-weight: 600;
}

.wb-subtitle {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--colour-subtitle);
}

.wb-text {
    color: var(--colour-text);
    font-size: 15px;
    font-weight: 400;
}

.wb-text-error {
    padding-left: 6px;
    margin-top: -2px;
    margin-bottom: 16px;
    color: var(--colour-accent-primary);
    font-size: 15px;
}

.wb-text-link {
    color: var(--colour-accent-primary);
    font-weight: 500;
}

.wb-text-link:hover, .wb-logo:hover {
    color: var(--colour-accent-primary-alt);
}

.wb-checkbox {
    border-color: var(--colour-background-outline);
    color: var(--colour-accent-primary);
    box-shadow: var(--input-shadow);
    border-radius: 4px;
}

.wb-labelled-input-pair {
    display: flex;
    margin-top: 4px;
    flex-direction: column;
    width: 100%;
    column-gap: 16px;
    row-gap: 4px;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}

.wb-input-label {
    display: flex;
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
}

.wb-input-box {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: thin;
    border-radius: 6px;
    border-color: var(--colour-background-outline);
    background-color: var(--colour-background);
    width: 100%;
    font-size: 14px;
    box-shadow: var(--input-shadow);
    color: var(--colour-text);
}

.wb-input-dropdown {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    border-color: var(--colour-background-outline);
    background-color: var(--colour-background);
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.wb-file-input {
    display: block;
    border-width: thin;
    border-radius: 6px;
    border-color: var(--colour-background-outline);
    background-color: var(--colour-background);
    width: 100%;
    font-size: 14px;
    box-shadow: var(--input-shadow);
    color: var(--colour-text);
}
.wb-file-input::file-selector-button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 16px;
    font-weight: 500;
    border-radius: 6px 0 0 6px;
    border: none;
    background-color: var(--colour-background-outline);
    color: var(--colour-subtitle);
}
.wb-file-input::file-selector-button:hover {
    color: var(--colour-title);
    cursor: pointer;
}

.wb-input-box:hover, .wb-checkbox:hover, .wb-file-input:hover {
    border-color: var(--colour-background-alt);
}
.wb-input-box:focus, .wb-checkbox:focus, .wb-file-input:focus {
    border-color: var(--colour-accent-primary-alt);
    box-shadow: var(--input-shadow);
    outline: none;
}

.wb-primary-button, .wb-secondary-button, .wb-tertiary-button {
    display: inline-flex;
    gap: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-width: 1px;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    cursor: pointer;
}

.wb-primary-button {
    color: var(--colour-background);
    background-color: var(--colour-accent-primary);
    transition-property: all;
}
.wb-primary-button:hover {
    background-color: var(--colour-accent-primary-alt);
}

.wb-secondary-button {
    color: var(--colour-accent-primary);
    transition-property: all;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
}
.wb-secondary-button:hover {
    color: var(--colour-accent-primary-alt);
}

.wb-tertiary-button {
    color: var(--colour-subtitle);
    transition-property: all;
}
.wb-tertiary-button:hover {
    color: var(--colour-background);
    background-color: var(--colour-subtitle);
}

.wb-sidebar {
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 40px 24px 40px 24px;
    border-right-width: 1px;
    border-color: var(--colour-background-outline);
    width: 256px;
    background-color: var(--colour-background);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.wb-sidebar-item {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 14px;
    align-items: center;
    border-radius: 6px;
    font-size: 15px;
    background-color: var(--colour-background);
}
.wb-sidebar-item:hover {
    background-color: var(--colour-accent-secondary);
}

.wb-bg {
    border-color: var(--colour-background-outline);
    background-color: var(--colour-background);
}

.wb-page-container {
    padding: 28px;
    background-color: var(--colour-background-blur);
}

.wb-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--colour-background-outline);
    background-color: var(--colour-background);

    @media (min-width: 640px) {
        padding: 32px;
    }
}
.wb-hub-card {
    justify-content: space-between;
    height: 100%;
}
.wb-hub-empty-card {
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.wb-sub-card {
    background-color: var(--colour-background-blur);
}

.wb-colour-picker {
    --vacp-color-background-input: var(--colour-background);
    --vacp-color-background: var(--colour-background);
    --vacp-color-border: var(--colour-background-outline);
    --vacp-color-focus: var(--colour-accent-primary);
    --vacp-color-text-input: var(--colour-text);
    --vacp-color-text: var(--colour-subtitle);
    --vacp-font-family: default;
    --vacp-font-size: 12px;
    --vacp-spacing: 8px;
    --vacp-width-border: 1px;
    --vacp-width-color-space: 400px;
    padding: 14px;
    border-width: thin;
    border-radius: 6px;
    border-color: var(--colour-background-outline);
    box-shadow: var(--input-shadow);
}
.wb-colour-picker:hover {
    border-color: var(--colour-background-alt);
}
.wb-colour-picker:focus {
    border-color: var(--colour-accent-primary);
}

.wb-color-patch {
    margin-right: 4px;
    width: 96px;
    border-width: thin;
    border-color: var(--colour-background-outline);
    box-shadow: var(--input-shadow);
}

.wb-divider {
    border-width: thin;
    border-color: var(--colour-background-outline);
}
